@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

body, html {
    height: 100%;
}

/* Parallaxien koon ja toiminnon määrittämistä */

.p1, .p1x, .p2, .p2x, .p3, .p3x, .p4, .p4x, .p5, .p5x {

    height: 100%;

    /* rullaus efekti */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








/* Luokkiin p1 - p4 määritettävät kuvat */

.p1, .p1x {
    background-image: url(../hilla.jpg);
}

.p2, .p2x {
    background-image: url(../kalastus.jpg);
}

.p3, .p3x {
    background-image: url(../polttopuita.jpeg);
}

.p4, .p4x {
    background-image: url(../ostaamyyda.jpg);
}
.p5, .p5x {
    background-image: url(../opiskelu.jpg);
}

/* Tekstien määrittelyä */


/* Artikkelit vähintään 2 näytön korkeutta, korkeiksi */

article {
    height: 200%;
}


/* Body backround määritys */
body {
    background-color: #09093B;
    color:white;
}


/* Tekstikenttien muotoilua */

.t1, .t2, .t3, .t4, .t5, .t2first, .t3first, .t4first, .t5first {
    text-align: center;
    color: white;
    padding: 4px;
}

.lahdeteksti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}








/* Tekstikenttien tausta värien määritys

.a1 {
    background-color: #8080B3;
}
.a2 {
    background-color: #565695;
}
.a3 {
    background-color: #343477;
}
.a4 {
    background-color: #1A1A59;
}
.a5 {
    background-color: #09093B;
}

Tämän voi halutessaan ottaa käyttöön, en sitä tee luettavuuden vuoksi ** */








/* Otsikon muotoilua */

.otsikko {
    width: 100%;
    text-align: center;
    background-image: url(../hilla.jpg);
    opacity: 1;
    height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;

}








/* Taustan sovittaminen tekstikenttiin nähden */

.p145 {
    background-image: url(../hilla.jpg);
    height: 45%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p440 {
    background-image: url(../koodaus.jpg);
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.luonut {
    width: 100%;
    text-align: center;
    background-image: url(../koodaus.jpg);
    opacity: 1;
    height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "Zhi Mang Xing", cursive;
}

.p1x, .p2x, .p3x, .p4x, .p5x {
    height: 80%;
}


/* matkapuhelimelle responsiivisuus määritelmä */
@media only screen and (max-width: 749px)