body, html {
    height: 100%;
}

/* Parallaxien koon ja toiminnon määrittämistä */

.p1, .p1x, .p2, .p2x, .p3, .p3x, .p4 {

    height: 100%;

    /* rullaus efekti */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Luokkiin p1 - p4 määritettävät kuvat */

.p1, .p1x {
    background-image: url(../hilla.jpg);
}

.p2, .p2x {
    background-image: url(../kalastus.jpg);
}

.p3, .p3x {
    background-image: url(../polttopuita.jpeg);
}

.p4 {
    background-image: url(../ostaamyyda.jpg);
}

/* Tekstien määrittelyä */

/* Tekstikenttien muotoilua */

.t1, .t2, .t3, .t4 {
    text-align: center;
    color: white;
    padding: 4px;
}

/* Tekstikenttien tausta värien määritys */

.t1 {
    background-color: #75AF96;
}

.t2 {
    background-color: #499273;
}

.t3 {
    background-color: #0F5738;
}

.t4 {
    background-color: #003A21;
}

/* Otsikon muotoilua */

.otsikko {
    width: 100%;
    text-align: center;
    background-image: url(../hilla.jpg);
    opacity: 1;
    height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;

}

.p145 {
    background-image: url(../hilla.jpg);
    height: 45%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p440 {
    background-image: url(../ostaamyyda.jpg);
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p1x, .p2x, .p3x {
    height: 0%;
}

@media only screen and (max-width: 900px) {
    body {
        width: 100%; 
    }
  }