body {
    width: 100%;
    margin: 0 auto;
}
main {
display: flex;
overflow: hidden;
background-color: #fefae0;
}
article {
    color: #283618;
}
article h1 {
    font-size: 16px;
}

aside {
    order: 2;
    width: 25%;
    background-color: #606c38;
    padding: 10px;
}
aside h1 {
    font-size: 16px;
}
header {
    background-color: #283618;
    padding: 1%;
    text-align: left;
    color: #fefae0;
}
header h1 {
    background-color: #bc6c25;
    padding: 3%;
}
header ul {
    list-style-type: none;
    margin-left: -40px;
}
header li {
    float: left;
}
nav {
    display: inline-flex;
}
nav a {
    color: #fefae0;
    padding: 0 80px;
    text-decoration: none;
}
nav a:hover {
    background-color: #bc6c25;
}
section {
    width: 70%;
    order: 1;
    padding: 5%;
    margin: auto;
}
#listopiskeluhistoria {
    list-style: none;
}
#listlempimerkit {
    list-style: none; 
    margin-left: -15px;
}
#listyritykset {
    list-style: circle;
}
.koulukuvia {
    width: 300px;
    margin-left: 0px;
}
footer {
    background-color: #bc6c25;
    color: #fefae0;
    display: flex;
    padding: 0 3%;
}
img {
    width: 100%;
    margin-left: -40px;
}
figcaption {
    margin-left: -40px;
}
