table {
    background-color: rgb(3, 3, 86);
    color: yellow;
    border:none;
}
th {
    background-color: orange;
    padding: 0.5rem;
    font-size: 15px;
}
#Singup {
    text-align: left;
}

input[type="submit"], input[type="reset"] {
    float: right;
}
input[type="submit"] {
    background-color: chartreuse;
    padding: 5px;
    margin: 0 10px;
}
input[type="reset"] {
    background-color:tomato;
    padding: 5px;
    margin: 0 10px;
}
